



*{
    margin:0;
}


header{display: flex;
        justify-content: center;
       align-items: center;
   height:70px;
    background-color:#004b87 ;
}

body{

    background-color: darkgray;
}

main{border-radius:20px;
   padding: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    margin:30px 300px 30px 400px;
}

main input{
    margin:30px;
    height: 30px;
    border-radius:15px;
    border:1px solid;
}

button{display: flex;
    width:120px;
    justify-content: center;
    border-radius: 7px;
    background-color: yellow;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height:60px;
    background-color: #004b87;
}